button{
    font-size: $size-text;
    border-radius: $radius;
    padding: 12px 20px 12px 20px;
    margin: $medium-margin 0 $big-margin 0;
    background: linear-gradient(175deg, $sec-color, 40%, $prim-color);
    border: none;
    
    .button-explore{
        color: white;
    }
}