main{

    .restaurants{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $light-grey;
        margin-top: $big-margin;

        h2{
            margin-left: -148px;
        }
    }
}