/* Variables */
$prim-color:  #9356DC;
$sec-color: #FF79DA;
$ter-color: #99E2D0;
$light-grey: #f7f7f7;
$dark-grey: hsl(0, 5%, 89%);
$black-footer: #262626;
$size-logo: 30px;
$size-title: 25px;
$size-text: 15px;
$big-margin: 55px;
$medium-margin: 30px;
$litle-margin: 15px;
$width-img: 250px;
$height-img: 100px;
$width-ban: 250px;
$height-ban: 80px;
$radius: 30px;

p, h2{
    font-family: 'Roboto', sans-serif;
}

h2{
    font-size: $size-title;
    font-weight: bold;
}

p{
    font-size: $size-text;
}

.logo-ohmyfood{
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        font-family: 'Shrikhand', cursive;
        font-style: italic;
        font-size: $size-logo;
        margin: $litle-margin 0 $litle-margin 0;
    }
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .zone-search{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        background-color: $dark-grey;
        border-top: solid;
        border-color: rgb(206, 206, 206);
        
    }

    .explore-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: $light-grey;

        h2, p{
            text-align: center;
        }

        h2{
            margin: $big-margin 0 $litle-margin 0;
        }
    }
}

.fa-map-marker-alt{
    
    color: $black-footer;
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: 25px;
}

input{
    margin: $litle-margin;
    border: none;
    background-color: $dark-grey;
}

input::placeholder{
    color: $black-footer;
    font-size: 17px;
}

button{
    font-size: $size-text;
    border-radius: $radius;
    padding: 12px 20px 12px 20px;
    margin: $medium-margin 0 $big-margin 0;
    background: linear-gradient(175deg, $sec-color, 40%, $prim-color);
    border: none;
    
    .button-explore{
        color: white;
    }
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .button-aside{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: $light-grey;
        width: 280px;
        height: 70px;
        border-radius: $radius;
        margin-bottom: $litle-margin;
        box-shadow: 2px 5px 10px 2px $dark-grey;
    }

    .circle{
        position: absolute;
        margin-right: 270px;
        background-color: $prim-color;
        color: white;
        padding: 5px 9px 5px 9px;
        border-radius: 100%;
    }

    .fas{
        position: absolute;
        margin-left: -198px;
    }
}

main{

    h2{
        margin-top: $big-margin;
        margin-bottom: $medium-margin;
    }
}