@import 'variable';
@import 'global';
@import 'header';



form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .zone-search{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        background-color: $dark-grey;
        border-top: solid;
        border-color: rgb(206, 206, 206);
        
    }

    .explore-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: $light-grey;

        h2, p{
            text-align: center;
        }

        h2{
            margin: $big-margin 0 $litle-margin 0;
        }

        p{
            font-weight: 300;
            font-size: 18px;
        }
    }
}

.fa-map-marker-alt{
    
    color: $black-footer;
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: 25px;
}

input{
    margin: $litle-margin;
    border: none;
    background-color: $dark-grey;
}

input::placeholder{
    color: $black-footer;
    font-size: 17px;
}

button{
    font-size: $size-text;
    border-radius: $radius;
    padding: 12px 20px 12px 20px;
    margin: $medium-margin 0 $big-margin 0;
    background: linear-gradient(175deg, $sec-color, 40%, $prim-color);
    border: none;
    
    .button-explore{
        color: white;
    }
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2{
        margin-left: -110px;
    }

    .button-aside{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: $light-grey;
        width: 280px;
        height: 70px;
        border-radius: $radius;
        margin-bottom: $litle-margin;
        box-shadow: 2px 5px 10px 2px $dark-grey;
    }

    .circle{
        position: absolute;
        margin-right: 270px;
        background-color: $prim-color;
        color: white;
        padding: 5px 9px 5px 9px;
        border-radius: 100%;
    }

    .fas{
        position: absolute;
        margin-left: -198px;
    }
}

main{

    .restaurants{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $light-grey;
        margin-top: $big-margin;

        h2{
            margin-left: -148px;
        }

        .cart{
            position: relative;
            width: 280px;
            height: auto;
            border-radius: 15px;
            background-color: white;
            box-shadow: 2px 5px 10px 2px $dark-grey;
            margin-bottom: $litle-margin;

            .green-nouveau{
                position: absolute;
                background-color: rgb(146, 216, 195);
                padding: 8px 10px;
                border-radius: 2px;
                margin: 15px 0 0 188px;
                box-shadow: 1px 1px 8px 1px $black-footer;

                p{
                    color: green;
                }
            }

            img{
                border-radius: 15px 15px 0 0;
                width: 100%;
                height: $height-img;
                object-fit: cover;
            }

            .p-cart{
                display: flex;
                flex-direction: column;
                margin: 10px 0 10px 13px;
                

                p{
                    margin-bottom: 8px;
                }

                .p-bold{
                    font-weight: bold;
                }
            }

            .fa-heart{
                position: absolute;
                margin-left: 240px;
                margin-top: -50px;
                font-size: 20px;
            }
        }
    }
}

footer{
    background-color: $black-footer;
    padding: 18px;
    margin-top: $big-margin;

    .omf-litle-logo{
        font-family: 'Shrikhand', cursive;
        color: white;
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 20px;
    }

    li, a{
        text-decoration: none;
        color: white;
        margin-bottom: 10px;
        font-family: 'Roboto', sans-serif;
    }

    .fa-utensils{
        margin-right: 5px;
    }

    .fa-hands-helping{
        font-size: 12px;
        margin-right: 2px;
    }
}

.header-restaurants{
    position: relative;

    .fa-arrow-left{
        position: absolute;
        font-size: $size-logo;
        top: 15px;
        left: 30px;
    }
}

.section-restaurant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: $light-grey;

    .title-carte{
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: $radius $radius 0 0;
        margin-top: -1013px;
        background-color: $light-grey;
        width: 100%;

        h2{
            margin: $medium-margin 0 3px $litle-margin;
        }

        .fa-heart{
            position: relative;
            margin-top: 33px;
            margin-right: 25px;
            font-size: 20px;
        }
    }
    .bloc-menu{
        padding-top: 40px;
        width: 100%;

        h3{
            margin-left: 12px;
            margin-bottom: 10px;
            border-bottom: solid $ter-color;
            width: 50px;
            padding-bottom: 5px;
            text-transform: uppercase;
        }

        .p-smooth{
            font-size: 12px;
        }

        .cart-menu{
            position: relative;
            background-color: white;
            border-radius: 8px;
            padding: 10px;
            margin: 12px;
            box-shadow: 0px 3px 8px 2px rgb(220, 220, 220);
        }

        .inline-cart{
            display: flex;
            justify-content: space-between;
            margin-top: 5px;
        }

        .prix{
            margin-right: 12px;
        }
    }

    button{
        padding: 12px 40px;
    }
}

/* ./dart-sass/sass ./sass/style.sass ./style/style.css --watch */