/* Couleur */
$prim-color:  #9356DC;
$sec-color: #FF79DA;
$ter-color: #99E2D0;
$light-grey: #f7f7f7;
$dark-grey: hsl(0, 5%, 89%);
$black-footer: #323131;

/* Taille */
$size-logo: 30px;
$size-title: 25px;
$size-text: 15px;
$width-img: 250px;
$height-img: 160px;
$width-ban: 250px;
$height-ban: 80px;

/* Margin */
$big-margin: 55px;
$medium-margin: 30px;
$litle-margin: 15px;

/* Radius */
$radius: 30px;