/* Couleur */
/* Taille */
/* Margin */
/* Radius */
p, h3, .h2noRoboto, .p-bold, .p-smooth, .prix {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-family: "Shrikhand", cursive;
  margin-top: 55px;
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 700;
}

p {
  font-size: 15px;
}

.p-bold {
  font-weight: bold;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: black;
}

.cart-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
  background-color: white;
  border-radius: 8px;
  padding: 0;
  margin: 12px;
  box-shadow: 0px 3px 8px 2px gainsboro;
  cursor: pointer;
  overflow: hidden;
}
.cart-menu input {
  display: none;
}
.cart-menu input:checked ~ .div-anime {
  width: 70px;
}
.cart-menu .p-cart-column {
  display: inline-block;
  padding: 10px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cart-menu .p-smooth {
  display: inline-block;
  max-width: 230px;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cart-menu .p-bold {
  max-width: 230px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cart-menu .inline-cart {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.cart-menu .prix {
  display: block;
  margin-left: 15px;
}
.cart-menu .div-anime {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 0px;
  height: auto;
  border-radius: 0 8px 8px 0;
  background-color: #99E2D0;
  transition: 500ms;
}
.cart-menu .div-anime .fa-check-circle {
  margin: auto;
  color: white;
  font-size: 20px;
  transition-duration: 0.5s;
}

.bloc-1 .cart-menu {
  animation: viewTranslate 0.7s ease-out;
}

.bloc-2 .cart-menu {
  animation: viewTranslate 0.9s ease-out;
}

.bloc-3 .cart-menu {
  animation: viewTranslate 1300ms ease-out;
}

label:hover .div-anime .fa-check-circle {
  animation: rotateCheck 0.8s ease forwards;
}

label:hover .div-anime {
  width: 70px;
}

label:hover .div-anime > .p-smooth {
  max-width: 100px;
}

label:hover input:checked ~ .div-anime .fa-check-circle {
  animation: none;
}

@media screen and (min-width: 400px) {
  .cart-menu {
    min-width: 300px;
  }
}
@media screen and (min-width: 1024px) {
  .cart-menu {
    max-width: 320px;
  }
}
@media screen and (min-width: 1196px) {
  .cart-menu {
    max-width: 420px;
  }
}
.cart {
  position: relative;
  width: 280px;
  height: auto;
  border-radius: 15px;
  background-color: white;
  box-shadow: 2px 5px 10px 2px #e4e2e2;
  margin-bottom: 15px;
  cursor: pointer;
}
.cart:hover {
  box-shadow: 10px 5px 10px 2px #e4e2e2;
  opacity: 90%;
  transition-duration: 0.3s;
}
.cart .green-nouveau {
  position: absolute;
  right: 10px;
  top: 15px;
  background-color: #92d8c3;
  padding: 8px 10px;
  border-radius: 2px;
  box-shadow: 1px 1px 8px 1px #323131;
}
.cart .green-nouveau p {
  color: green;
}
.cart img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 160px;
  object-fit: cover;
}
.cart .p-cart {
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 13px;
}
.cart .p-cart p {
  margin-bottom: 8px;
}
.cart .p-cart .p-bold {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .cart {
    width: 450px;
    margin: 10px;
  }
}
@media screen and (min-width: 1440px) {
  .cart {
    width: 700px;
  }
}
button {
  font-size: 15px;
  border-radius: 30px;
  padding: 12px 20px 12px 20px;
  margin: 30px 0 55px 0;
  background: linear-gradient(175deg, #FF79DA, 40%, #9356DC);
  border: none;
  cursor: pointer;
}
button .button-explore {
  color: white;
}

.btn-command {
  display: flex;
  justify-content: center;
}

button:hover {
  opacity: 0.83;
  box-shadow: 0px 0px 10px 5px #d0d0d0;
  transition-duration: 0.5s;
}

.loader-container {
  position: fixed;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.975);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 100vw;
  opacity: 0;
  animation-name: hidden;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}
.loader-container .bloc-logo-loader {
  position: absolute;
  top: 20vh;
}
.loader-container .loader-2 {
  position: absolute;
  border-left: #49064d solid 2px;
  border-right: #1aa0b8 solid 2px;
  box-shadow: 8px 2px 20px rgba(0, 0, 0, 0.3);
  width: 100px;
  height: 50px;
  border-radius: 100%;
  animation-name: twist;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.loader-container .loader-3 {
  position: absolute;
  border-top: #e24fe9 solid 2px;
  border-bottom: #75b1ba solid 2px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  width: 100px;
  height: 50px;
  border-radius: 100%;
  animation-name: twist;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.logo-loader {
  font-size: 60px;
  font-family: "Shrikhand", cursive;
}

.logo-ohmyfood {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-ohmyfood h1 {
  font-family: "Shrikhand", cursive;
  font-style: italic;
  font-size: 30px;
  margin: 15px 0 15px 0;
  cursor: pointer;
}

.header-restaurants {
  position: relative;
}
.header-restaurants .fa-arrow-left {
  position: absolute;
  font-size: 30px;
  top: 15px;
  left: 30px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  margin-top: 55px;
  width: 100%;
}
.restaurants .title-restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: auto;
  margin-left: -148px;
}

@media screen and (min-width: 768px) {
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .restaurants {
    margin-top: 0;
  }
  .restaurants .title-restaurant {
    margin-left: -320px;
  }

  .cart-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1440px) {
  .restaurants .title-restaurant {
    margin-left: -568px;
  }
}
.section-restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #f7f7f7;
}
.section-restaurant .img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.section-restaurant .title-carte {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 30px 30px 0 0;
  margin-top: -30px;
  background-color: #f7f7f7;
  width: 100%;
}
.section-restaurant .title-carte h2 {
  margin: 30px 0 3px 15px;
}
.section-restaurant .title-carte .fa-heart {
  position: relative;
  margin-top: 33px;
  margin-right: 25px;
  font-size: 20px;
  cursor: pointer;
}
.section-restaurant .bloc-menu {
  padding-top: 40px;
  width: 100%;
}
.section-restaurant .bloc-menu h3 {
  margin-left: 12px;
  margin-bottom: 10px;
  border-bottom: solid #99E2D0;
  width: 50px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.section-restaurant button {
  padding: 12px 40px;
}

.restaurant-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .restaurant-container {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .bloc-1--top {
    margin-top: 68px;
  }
}
footer {
  background-color: #323131;
  padding: 18px;
}
footer .omf-litle-logo {
  font-family: "Shrikhand", cursive;
  color: white;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
}
footer li, footer a {
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
}
footer .fa-utensils {
  margin-right: 5px;
}
footer .fa-hands-helping {
  font-size: 12px;
  margin-right: 2px;
}
@media screen and (min-width: 768px) {
  footer .omf-litle-logo {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-bottom: 30px;
  }
  footer ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 20px;
  }
}

.footer-marginTop {
  margin-top: 55px;
}

.footer-no-marginTop {
  margin-top: 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form .zone-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: #e4e2e2;
  border-top: solid;
  border-color: #cecece;
}
form .explore-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f7f7f7;
}
form .explore-form h2, form .explore-form p {
  text-align: center;
}
form .explore-form h2 {
  margin: 55px 0 15px 0;
}
form .explore-form p {
  font-weight: 300;
  font-size: 18px;
}

.fa-map-marker-alt {
  color: #323131;
  font-size: 16px;
  margin-bottom: 5px;
  margin-left: 25px;
  cursor: pointer;
}

input {
  margin: 15px;
  border: none;
  background-color: #e4e2e2;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: #323131;
  font-size: 17px;
}

.fonct-bloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: inherit;
}
.fonct-bloc h2 {
  display: block;
  margin-left: -110px;
}
.fonct-bloc .button-aside {
  position: relative;
  background-color: #f7f7f7;
  width: 280px;
  height: 70px;
  border-radius: 30px;
  margin-bottom: 15px;
  box-shadow: 2px 5px 10px 2px #e4e2e2;
}
.fonct-bloc .circle {
  position: absolute;
  top: calc(50% - 13px);
  left: -13px;
  background-color: #9356DC;
  color: white;
  border-radius: 100%;
  width: 26px;
  height: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fonct-bloc .fas {
  position: absolute;
  width: 20px;
  height: 20px;
  top: calc(50% - 10px);
  left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fonct-bloc p {
  text-align: center;
  line-height: 70px;
}

@media screen and (min-width: 768px) {
  .fonct-bloc {
    justify-content: flex-start;
    width: 800px;
  }
  .fonct-bloc h2 {
    margin-left: -110px;
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1440px) {
  .fonct-bloc {
    width: 1300px;
  }
  .fonct-bloc h2 {
    margin-left: -310px;
  }
}
@keyframes twist {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes hidden {
  0% {
    right: 0;
    opacity: 0;
  }
  5% {
    right: 0;
    opacity: 0, 5;
  }
  30% {
    right: 0;
    opacity: 1;
  }
  80% {
    filter: blur(0);
  }
  90% {
    right: 0;
    opacity: 1;
    filter: blur(4px);
  }
  100% {
    right: 100vw;
    opacity: 0;
    filter: blur(10px);
  }
}
@keyframes remplissage {
  0% {
    font-size: 0;
  }
  50% {
    font-size: 18px;
  }
  100% {
    font-size: 18px;
  }
}
@keyframes viewTranslate {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes rotateCheck {
  100% {
    transform: rotate(2turn);
  }
}
.cart a .heartIndex {
  position: absolute;
  bottom: 20px;
  right: 15px;
  width: 25px;
  height: 25px;
  transition: 0.5s;
}

.heartIndex-nocolor {
  z-index: 1;
}

.heartIndex-color {
  opacity: 0;
}

.heartIndex-nocolor:hover {
  opacity: 0;
}

.heartIndex-nocolor:hover ~ .heartIndex-color {
  opacity: 1;
}

.section-restaurant .title-carte .heartPage {
  position: absolute;
  top: 30px;
  right: 20px;
  height: 25px;
  width: 25px;
  transition: 0.5s;
}

.heartPage-nocolor {
  z-index: 1;
}

.heartPage-color {
  opacity: 0;
}

.heartPage-nocolor:hover {
  opacity: 0;
}

.heartPage-nocolor:hover ~ .heartPage-color {
  opacity: 1;
}

/*.bloc-heart {
    position: absolute;
    cursor: pointer;
    background: url("../img/logo/heart-nocolor.png") no-repeat;
    background-size: 25px 25px;
    transition: all 5s;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        opacity: 0;
        transition-duration: 5s;
        overflow: hidden;
      }

    &:hover::after {
        background-size: 25px 25px;
        background: url("../img/logo/heart-color.png") no-repeat;
        top: 0;
        left: 0;
        width: 25px;
        height: 25px;
        opacity: 1;
        overflow: hidden;
    }
  }

  .bloc-heart--index {
    bottom: 10px;
    width: 35px;
    height: 35px;
    right: 5px;
    overflow: hidden;
  }

  .bloc-heart--resto {
    top: 360px;
    width: 35px;
    height: 35px;
    right: 15px;
    overflow: hidden;
  }*/

/*# sourceMappingURL=style-unprefixe.css.map */
