/* Couleur */
/* Taille */
/* Margin */
/* Radius */
p, h2 {
  font-family: "Roboto", sans-serif;
}

h2 {
  margin-top: 55px;
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 700;
}

p {
  font-size: 15px;
}

.p-bold {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

.logo-ohmyfood {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-ohmyfood h1 {
  font-family: "Shrikhand", cursive;
  font-style: italic;
  font-size: 30px;
  margin: 15px 0 15px 0;
}

button {
  font-size: 15px;
  border-radius: 30px;
  padding: 12px 20px 12px 20px;
  margin: 30px 0 55px 0;
  background: linear-gradient(175deg, #FF79DA, 40%, #9356DC);
  border: none;
}
button .button-explore {
  color: white;
}

footer {
  background-color: #323131;
  padding: 18px;
  margin-top: 55px;
}
footer .omf-litle-logo {
  font-family: "Shrikhand", cursive;
  color: white;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
}
footer li, footer a {
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
}
footer .fa-utensils {
  margin-right: 5px;
}
footer .fa-hands-helping {
  font-size: 12px;
  margin-right: 2px;
}

.cart-menu {
  position: relative;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  margin: 12px;
  box-shadow: 0px 3px 8px 2px gainsboro;
}

.p-smooth {
  font-size: 12px;
}

.inline-cart {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.prix {
  margin-right: 12px;
}

.cart {
  position: relative;
  width: 280px;
  height: auto;
  border-radius: 15px;
  background-color: white;
  box-shadow: 2px 5px 10px 2px #e4e2e2;
  margin-bottom: 15px;
}
.cart .green-nouveau {
  position: absolute;
  background-color: #92d8c3;
  padding: 8px 10px;
  border-radius: 2px;
  margin: 15px 0 0 188px;
  box-shadow: 1px 1px 8px 1px #323131;
}
.cart .green-nouveau p {
  color: green;
}
.cart img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 160px;
  object-fit: cover;
}
.cart .p-cart {
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 13px;
}
.cart .p-cart p {
  margin-bottom: 8px;
}
.cart .p-cart .p-bold {
  font-weight: bold;
}
.cart .fa-heart {
  position: absolute;
  margin-left: 240px;
  margin-top: -50px;
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form .zone-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: #e4e2e2;
  border-top: solid;
  border-color: #cecece;
}
form .explore-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f7f7f7;
}
form .explore-form h2, form .explore-form p {
  text-align: center;
}
form .explore-form h2 {
  margin: 55px 0 15px 0;
}
form .explore-form p {
  font-weight: 300;
  font-size: 18px;
}

.fa-map-marker-alt {
  color: #323131;
  font-size: 16px;
  margin-bottom: 5px;
  margin-left: 25px;
}

input {
  margin: 15px;
  border: none;
  background-color: #e4e2e2;
}

input::placeholder {
  color: #323131;
  font-size: 17px;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
aside h2 {
  margin-left: -110px;
}
aside .button-aside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #f7f7f7;
  width: 280px;
  height: 70px;
  border-radius: 30px;
  margin-bottom: 15px;
  box-shadow: 2px 5px 10px 2px #e4e2e2;
}
aside .circle {
  position: absolute;
  margin-right: 270px;
  background-color: #9356DC;
  color: white;
  padding: 5px 9px 5px 9px;
  border-radius: 100%;
}
aside .fas {
  position: absolute;
  margin-left: -198px;
}

main .restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  margin-top: 55px;
}
main .restaurants h2 {
  margin-left: -148px;
}

.header-restaurants {
  position: relative;
}
.header-restaurants .fa-arrow-left {
  position: absolute;
  font-size: 30px;
  top: 15px;
  left: 30px;
}

.section-restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #f7f7f7;
}
.section-restaurant .title-carte {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 30px 30px 0 0;
  margin-top: -1013px;
  background-color: #f7f7f7;
  width: 100%;
}
.section-restaurant .title-carte h2 {
  margin: 30px 0 3px 15px;
}
.section-restaurant .title-carte .fa-heart {
  position: relative;
  margin-top: 33px;
  margin-right: 25px;
  font-size: 20px;
}
.section-restaurant .bloc-menu {
  padding-top: 40px;
  width: 100%;
}
.section-restaurant .bloc-menu h3 {
  margin-left: 12px;
  margin-bottom: 10px;
  border-bottom: solid #99E2D0;
  width: 50px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.section-restaurant button {
  padding: 12px 40px;
}

/* ./dart-sass/sass ./sass/style.sass ./style/style.css --watch */

/*# sourceMappingURL=style.css.map */
