.cart{
    position: relative;
    width: 280px;
    height: auto;
    border-radius: 15px;
    background-color: white;
    box-shadow: 2px 5px 10px 2px $dark-grey;
    margin-bottom: $litle-margin;
    cursor: pointer;

    &:active{
        box-shadow: none;
    }

    .green-nouveau{
        position: absolute;
        right: 10px;
        top: 15px;
        background-color: rgb(146, 216, 195);
        padding: 8px 10px;
        border-radius: 2px;
        box-shadow: 1px 1px 8px 1px $black-footer;

        p{
            color: green;
        }
    }

    img{
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: $height-img;
        object-fit: cover;
    }

    .p-cart{
        display: flex;
        flex-direction: column;
        margin: 10px 0 10px 13px;
        
        p{
            margin-bottom: 8px;
        }

        .p-bold{
            font-weight: bold;
        }
    }

    .fa-heart{
        position: absolute;
        right: 15px;
        bottom: 15px;
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) {
    
    .cart{
        width: 500px;
        margin: 10px;
    }
}

@media screen and (min-width: 1440px) {
    
    .cart{
        width: 700px;
    }
}