button{
    font-size: $size-text;
    border-radius: $radius;
    padding: 12px 20px 12px 20px;
    margin: $medium-margin 0 $big-margin 0;
    background: linear-gradient(175deg, $sec-color, 40%, $prim-color);
    border: none;
    cursor: pointer;

    .button-explore{
        color: white;
    }

    &:hover {
        box-shadow: 0px 0px 8px 3px rgb(208, 208, 208);
        transition-duration: 0.3s;
    }
}

.btn-command{
    display: flex;
    justify-content: center;

    &:hover {
        box-shadow: 0px 0px 8px 3px rgb(208, 208, 208);
        transition-duration: 0.3s;
    }
}