
.bloc-heart {
    position: absolute;
    cursor: pointer;
    background: url("../img/logo/heart-nocolor.png") no-repeat;
    background-size: 25px 25px;
    transition: all 0.3s;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        opacity: 0;
        transition-duration: 1200ms;
        overflow: hidden;
      }

    &:hover::after {
        background: url("../img/logo/heart-color.png") no-repeat;
        background-size: 25px 25px;
        height: 100%;
        opacity: 1;
        left: 0;
    }
  }

  .bloc-heart--index {
    bottom: 10px;
    width: 35px;
    height: 35px;
    right: 5px;
  }

  .bloc-heart--resto {
    top: 360px;
    width: 35px;
    height: 35px;
    right: 15px;
  }