.loader-container {
    position: fixed;
    z-index: 100;
    background-color:rgba(255, 255, 255, 0.975);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    // état initiale => en dehors à gauche + transparent
    right: 100vw;
    opacity: 0;

    // animation
    animation-name: hidden;
    animation-duration: 3s;
    animation-timing-function: ease-out;

    .bloc-logo-loader {
        position: absolute;
        top: 400px
    }

    .loader-2{
        position: absolute;
        border-left: rgb(73, 6, 77) solid 2px;
        border-right: rgb(26, 160, 184) solid 2px;
        box-shadow: 8px 2px 20px rgba(0,0,0,0.3);
        width: 100px;
        height: 50px;
        border-radius: 100%;

        // animation
        animation-name: twist;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    .loader-3{
        position: absolute;
        border-top: rgb(226, 79, 233) solid 2px;
        border-bottom: rgb(117, 177, 186) solid 2px;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
        width: 100px;
        height: 50px;
        border-radius: 100%;

        // animation
        animation-name: twist;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

.logo-loader {
    font-size: 60px;
    font-family: "Shrikhand", cursive;
}
