.fonct-bloc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: inherit;

    h2{
        display: block;
        margin-left: -110px;
    }

    .button-aside{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: $light-grey;
        width: 280px;
        height: 70px;
        border-radius: $radius;
        margin-bottom: $litle-margin;
        box-shadow: 2px 5px 10px 2px $dark-grey;
    }

    .circle{
        position: absolute;
        margin-left: -138px;
        background-color: $prim-color;
        color: white;
        padding: 5px 9px 5px 9px;
        border-radius: 100%;
    }

    .fas{
        position: absolute;
        margin-left: -100px;
    }
}

@media screen and (min-width: 768px) {

    .fonct-bloc{
        justify-content: flex-start;
        width: 800px;

        h2{
            margin-left: -110px;
        }
    }
    
    .buttons-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        
        .button-aside{
            margin: 18px;
        }


    }
}

@media screen and (min-width: 1440px) {
    .fonct-bloc{
        width: 1300px;

        h2{
            margin-left: -310px;
        }
        
        .button-aside{
            width: 500px;
        }

        .circle{
            margin-left: -250px;
        }
    }
    
}