.logo-ohmyfood{
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        font-family: 'Shrikhand', cursive;
        font-style: italic;
        font-size: $size-logo;
        margin: $litle-margin 0 $litle-margin 0;
        cursor: pointer;
    }
}

.header-restaurants{
    position: relative;

    .fa-arrow-left{
        position: absolute;
        font-size: $size-logo;
        top: 15px;
        left: 30px;
    }
}