.section-restaurant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: $light-grey;

    .img{
        height: 300px;
        width: 100%;
        object-fit: cover;
    }

    .title-carte{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: $radius $radius 0 0;
        margin-top: -30px;
        background-color: $light-grey;
        width: 100%;

        h2{
            margin: $medium-margin 0 3px $litle-margin;
        }

        .fa-heart{
            position: relative;
            margin-top: 33px;
            margin-right: 25px;
            font-size: 20px;
            cursor: pointer;
        }
    }

    .bloc-menu{
        padding-top: 40px;
        width: 100%;

        h3{
            margin-left: 12px;
            margin-bottom: 10px;
            border-bottom: solid $ter-color;
            width: 50px;
            padding-bottom: 5px;
            text-transform: uppercase;
        }
    }

    button{
        padding: 12px 40px;
    }
}

.container-resto{
    
    
}

.restaurant-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1024px) {

    .restaurant-container{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .bloc-1--top{
        margin-top: 68px;
    }

}